body {
  --common-black: #000000;
  --common-white: #ffffff;
  --common-clear: #FFFFFF0;

  --primary-main: #007c66;
  --primary-light: #00c49a;
  --primary-dark: #005a49;

  --secondary-main: #009879;
  --secondary-light: #00c49a;
  --secondary-dark: #007c66;

  --grey-50: #f7fafb;
  --grey-100: #eef3f5;
  --grey-200: #e1eaed;
  --grey-300: #cbd9de;
  --grey-400: #a7b8be;
  --grey-500: #83949a;
  --grey-600: #627278;
  --grey-700: #596569;
  --grey-800: #3d4548;
  --grey-900: #001026;
  --grey-a100: #d3d8d9;
  --grey-a200: #a4aeb2;
  --grey-a400: #596569;
  --grey-a700: #2d3334;

  /* common aliases */
  --foreground-primary: #102a2dde;
  --foreground-contrast-primary: #102a2dde;
  --foreground-secondary: #173137f2;
  --foreground-contrast-secondary: #173137f2;
  --foreground-disabled: #2f474de0;
  --foreground-contrast-disabled: #2f474de0;

  /* Background colors */
  --background-header: #ffffff;
  --background-bar-dark: #cbd9de;
  --background-bar-medium: #e5ecef;
  --background-medium: #e5ecef;
  --background-default: #eef3f5;
  --background-light: #f7fafb;
  --background-paper: #ffffff;

  --action-active: #00c49a33;
  --action-contrast-active: #ffffff7a;
  --action-hover: #00c49a1f;
  --action-contrast-hover: #ffffff14;
  --action-selected: #00c49a24;
  --action-contrast-selected: #ffffff29;
  --action-disabled: #00000042;
  --action-contrast-disabled: #ffffff42;

  --other-divider: #102a2d42;
  --other-outlined-border: #102a2d66;
  --other-backdrop-overlay: #00000080;
  --other-filled-input-background: #00000017;
  --other-standard-input-line: #0000006b;
  --other-snackbar: #2d3334;

  /* status & severity - mostly unchanged */
  --critical-main: #e31b0c;
  --critical-light: #f88078;
  --critical-dark: #ba1408;

  --serious-main: #ed6c02;
  --serious-light: #ffb547;
  --serious-dark: #bb5a00;

  --caution-main: #fbe20e;
  --caution-light: #fdf082;
  --caution-dark: #b4a203;
  --caution-contrast-text: #00000099;

  --normal-main: #299e2e;
  --normal-light: #7bc67e;
  --normal-dark: #3b873e;

  /* Standby also shifted to greenish */
  --standby-main: #009879;
  --standby-light: #00c49a;
  --standby-dark: #007c66;

  --off-main: #9ea7ad;
  --off-light: #d6d9dc;
  --off-dark: #6a7177;

  --tabs-background: #ffffff14;
}
