body {
  --common-black: #000000;
  --common-white: #ffffff;
  --common-clear: #FFFFFF0;

  --primary-main: #007c66;
  --primary-light: #00c49a;
  --primary-dark: #005a49;

  --secondary-main: #009879;
  --secondary-light: #00c49a;
  --secondary-dark: #007c66;

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-a100: #e2e8f0;
  --grey-a200: #cbd5e1;
  --grey-a400: #64748b;
  --grey-a700: #334155;

  /* common aliases */
  --foreground-primary: #111827;
  --foreground-contrast-primary: #111827;
  --foreground-secondary: #475569;
  --foreground-contrast-secondary: #475569;
  --foreground-disabled: #94a3b8;
  --foreground-contrast-disabled: #94a3b8;

  /* Background colors */
  --background-header: #ffffff;
  --background-bar-dark: #e2e8f0;
  --background-bar-medium: #f1f5f9;
  --background-medium: #f1f5f9;
  --background-default: #f6f8fa;
  --background-light: #f8fafc;
  --background-paper: #ffffff;

  --action-active: #111827;
  --action-contrast-active: #ffffff7a;
  --action-hover: #0f172a0a;
  --action-contrast-hover: #ffffff14;
  --action-selected: #007c6612;
  --action-contrast-selected: #ffffff29;
  --action-disabled: #00000042;
  --action-contrast-disabled: #ffffff42;

  --other-divider: #d7dee8;
  --other-outlined-border: #cbd5e1;
  --other-backdrop-overlay: #00000080;
  --other-filled-input-background: #00000017;
  --other-standard-input-line: #0000006b;
  --other-snackbar: #2d3334;

  /* status & severity - mostly unchanged */
  --critical-main: #e31b0c;
  --critical-light: #f88078;
  --critical-dark: #ba1408;

  --serious-main: #ed6c02;
  --serious-light: #ffb547;
  --serious-dark: #bb5a00;

  --caution-main: #fbe20e;
  --caution-light: #fdf082;
  --caution-dark: #b4a203;
  --caution-contrast-text: #00000099;

  --normal-main: #299e2e;
  --normal-light: #7bc67e;
  --normal-dark: #3b873e;

  /* Standby also shifted to greenish */
  --standby-main: #009879;
  --standby-light: #00c49a;
  --standby-dark: #007c66;

  --off-main: #9ea7ad;
  --off-light: #d6d9dc;
  --off-dark: #6a7177;

  --tabs-background: #ffffff14;
}
